<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NBS POD Web App - {{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/styles.css">
  
</head>

<body>
  <header>
    <img src="images/logo.png" alt="NBS POD Logo">
    <nav>
      <ul class="navigation">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/create_pod">Create POD</a></li>
        <li><a href="/logout">Log Out</a></li>
        {{#if session.logged_in}}
          <li><a href="/logout">Log Out</a></li>
        {{else}}
          
          
        {{/if}}
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <script src="/index.js"></script>
</body>

</html>
