<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NBS POD Web App - {{title}}</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  
</head>

<body>
  <header>
    <img src="/public/images/logo.png" alt="NBS POD Logo">
    <nav>
      <ul class="navigation">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/create_pod">Create a POD</a></li>        
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}}
  </main>

  <script src="/script.js"></script>
</body>

</html>
