<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NBS POD Web App - Dashboard</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
    <header>
        <img src="/public/images/logo.png" alt="NBS POD Logo">
        <nav>
          <ul class="navigation">
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="create_pod.html">Create a POD</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="logout.html">Log Out</a></li>
          </ul>
        </nav>
      </header>
   
  

  <main>
    <div class="container">
      <h1>Welcome to NBS POD Portal</h1>
      <h2>POD Summary</h2>
      <p>Listed below are the 10 most recent jobs created for your account. Click on the POD#ID number to view more details for each job.</p>

      <div class="filter-section">
        <label for="filter">Filter:</label>
        <select id="filter">
          <option value="inProgress">In Progress</option>
          <option value="sentReceived">Sent - Received</option>
          <option value="all">All</option>
        </select>
      </div>

      <table id="summary-table">
        <thead>
          <tr>
            <th>POD ID#</th>
            <th>Date</th>
            <th>Description</th>
            <th>Client</th>
            
            
          </tr>
        </thead>
        <tbody>
          <!-- Table rows will be dynamically added using JavaScript -->
        </tbody>
      </table>
    </div>
  </main>

  <script src="script.js"></script>
</body>
</html>
