
{{#if deliveryData}}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Client</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each deliveryData}}
        <tr>
          <td>{{date}}</td>
          <td>{{client}}</td>
          <td>{{description}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No delivery data available</p>
{{/if}}


