<div class="container">
  <img class="logo-image" src="images/POD Logo.png" alt="NBS POD Logo">
  <h3>You have logged out successfully from POD Portal App.</h3>
  <p><a href="/login">Come back any time!</a></p>
</div>




