<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NBS POD Web App - Logout</title>
  <link rel="stylesheet" href="/public/styles.css">
</head>

<body>
  <header>
    <img src="/public/images/logo.png" alt="NBS POD Logo">
  </header>

  <main>
    <div class="container">
      <h3>You have logged out successfully from NBS POD Portal App.</h3>
      <p><a href="/views/login.hbs">Come back any time!</a></p>
    </div>
  </main>
</body>

</html>
