<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Code</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .qr-code-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      margin-bottom: 20px;
    }

    .qr-code {
      width: 200px;
      height: 200px;
    }
  </style>
</head>

<body>
  <div class="qr-code-container">
    <h1>QR Code</h1>
    <div class="qr-code">
      <img src="https://api.qrserver.com/v1/create-qr-code/?data={{encodeURIComponent(podData.date + ' - ' + podData.client + ' - ' + podData.description)}}&size=200x200" alt="QR Code">
    </div>
  </div>
</body>

</html>
