<div class="container">
  <img class="logo-image" src="images/POD Logo.png" alt="NBS POD Logo">
  <h1>Register</h1>
  <form id="registerForm" action="/register" method="POST">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button id="registerButton">Register</button>
    <p>Already have an account?<a href="/login"> Click Here</a></p>
  </form>
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
</div>


