/* Common styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e6e6e6;
  padding: 10px 20px;
}

header img {
  height: 40px;
}

.current-screen {
  font-size: 18px;
  float: right;
  margin-top: 10px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {
  color: #007bff;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

/* Login/Register screen */
form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #404041;
  text-decoration: #0056b3;
}

/* Dashboard screen */
.filter-section {
  margin-bottom: 20px;
}

#summary-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#summary-table th:first-child,
#summary-table td:first-child {
  width: 20%;
}

#summary-table th:nth-child(2),
#summary-table td:nth-child(2),
#summary-table th:nth-child(3),
#summary-table td:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#summary-table th:nth-child(4),
#summary-table td:nth-child(4) {
  width: 20%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-pen,
.fa-trash-alt {
  color: #007bff;
  font-size: 18px;
  margin-right: 5px;
}

.fa-pen:hover,
.fa-trash-alt:hover {
  color: #0056b3;
  cursor: pointer;
}

.add-pod {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-pod:hover {
  background-color: #404041;
  text-decoration: #0056b3;
}

/* Logout screen */
h3 {
  margin-bottom: 10px;
}

/* Settings screen */
.section {
  margin-bottom: 40px;
}

.section h3 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

table th {
  font-weight: bold;
  text-align: left;
  background-color: #f7f7f7;
}

table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

table tbody tr:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Create a POD screen */
#itemDetailsTableBody tr:nth-child(even) {
  background-color: #f7f7f7;
}

#itemDetailsTableBody tr:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

/* Create a POD screen */
#itemDetailsTableBody td input[type="text"] {
  width: 100%;
}

/* Responsive styles */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
  
  header {
    padding: 10px;
  }
  
  header img {
    height: 30px;
  }
  
  .current-screen {
    font-size: 16px;
    margin-top: 5px;
  }
  
  main {
    padding: 10px;
  }
  
  table {
    width: 100%;
    overflow-x: auto;
  }

  #summary-table th:first-child,
  #summary-table td:first-child {
    width: 30%;
  }

  #summary-table th:nth-child(2),
  #summary-table td:nth-child(2),
  #summary-table th:nth-child(3),
  #summary-table td:nth-child(3) {
    width: 25%;
  }

  #summary-table th:nth-child(4),
  #summary-table td:nth-child(4) {
    width: 20%;
  }


  
  
  /* Adjust other styles as needed for smaller screens */
  
  #summary-table th,
  #summary-table td {
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
  }
}
